/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 900;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-weight: 900;
    color: #000;
}

.btn-started {
    margin: 5% 3% 5% 0;
}

/********************* TITLE *********************/

#title {
    background-color: #54BAB9;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.title-img {
    position: absolute;
    width: 100%;
}

.contact-img {
    position: absolute;
    width: 170%;
}

.about-img {
    position: absolute;
    width: 130%;
}

/*navigation bar*/
.navbar {
    padding: 4.5rem;
    padding-left: 1rem;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-item {
    padding: 0 18px;
}

/********************* PLANS *********************/

#plans {
    background-color: white;
    position: relative;
    padding: 100px;
    text-align: center;
    z-index: 0;
    color: #8a8a8a;
    line-height: 2;
}

#plans h2 {
    color: #000;
}

.col-pricing {
    padding: 3% 2%;
}

.card-body h2 {
    padding-bottom: 10px;
}

/********************* REVIEWS *********************/
#review {
    background-color: #2e9fb0;
    color: white;
    padding: 10% 0% 8%;
    text-align: center;
}

.carousel-item {
    padding: 0% 20%;
}

.carousel-item h2 {
    padding-bottom: 20px;
    line-height: 1.5;
}

.review-img {
    width: 12%;
    border-radius: 50%;
    margin-right: 3%;
}

/********************* REVIEWS *********************/
#cta {
    background-color: #2e9fb0;
    padding-bottom: 5%;
    text-align: center;
}

#cta h3 {
    color: #fff;
    font-size: 3rem;
    padding-bottom: 1%;
}

/********************* WHY US *********************/
#why-us {
    background-color: #fff;
    padding: 10% 10%;
    position: relative;
}

/********************* REASON *********************/
#reasons {
    background-color: #2e9fb0;
    padding: 10% 7%;
    color: white;
    text-align: center;
}

#reasons h3 {
    color: white;
    font-size: 2.5rem;
}

.reason-icon {
    font-size: 3.5rem;
    padding-bottom: 5%;
}

.reason-icon:hover {
    color: #1f6c78;
}

/********************* CONTACT *********************/
#feedback {
    background-color: #fff;
    position: relative;
    padding: 10% 15%;
}

#contact {
    background-color: #2e9fb0;
    padding: 10% 15%;
    color: white;
    line-height: 1;
}

#contact a {
    color: #fff;
}

/********************* FOOTER *********************/
footer {
    padding: 8% 10% 3%;
    text-align: center;
}

.social-icon {
    padding-right: 7px;
    color: #000;
}

.social-icon:hover {
    color: rgb(68, 68, 68);
}

/********************* MEDIA QUERIES *********************/
@media (max-width: 1279px) {
    .title-img {
        width: 130%;
    }
}

@media (max-width: 991px) {
    .title-img {
        position: static;
        width: 60%;
    }
    .contact-img {
        width: 100%;
        position: static;
    }
    .container-fluid {
        padding-bottom: 0;
    }
}